<div class="row">
  <div class="col-md-12 col-12" style="margin-bottom: 15px;">
    <div class="card text-center">
      <div class="row">
        <div class="col-md-3 col-12">Nombre</div>
        <div class="col-md-3 col-12">Cantidad</div>
        <div class="col-md-3 col-12">Precio</div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-12" *ngFor="let elementos of carrito" style="margin-bottom: 15px;">
    <div class="card text-center">
      <div class="row">
        <div class="col-md-3 col-12"> {{elementos.NombreProducto}}</div>
        <div class="col-md-3 col-12"> {{elementos.Cantidad}}</div>
        <div class="col-md-3 col-12"> {{elementos.PrecioProducto}}</div>
        <div class="col-md-3 col-12">
          <a class="btn btn-danger btn-block" (click)="deleteElement(elementos.IdTienda,elementos.CodigoProducto)" href="/carrito">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-12">
    <div class="card text-center align-items-center">
      <p>Total: {{total}}</p>
    </div>
    <div class="card text-center align-items-center">
      <a class="btn btn-success btn-block" (click)="comprar()" href="/carrito">Comprar</a>
    </div>
  </div>
</div>
