<div class="container p-4">
  <div class="col-md-4-offset-md-2">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <textarea type="json" nombre="cuerpo" placeholder="Cuerpo" class="form-control" rows="5"
                      autofocus></textarea>
          </div>
          <div>
            <a class="btn btn-success btn-block" href="/login">Cargar Usuarios</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
