<div class="container p-4">
  <div class="col-md-4-offset-md-2">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <span class="input-group-text">@</span>
              <input type="number" class="form-control" placeholder="Dpi" aria-label="Dpi" [(ngModel)]="datos.Dpi"  name="dpi">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">#</span>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password"
                     [(ngModel)]="datos.Password">
            </div>
          </div>
          <div>
            <a class="btn btn-success btn-block" (click)="verificarLogin()">Iniciar Sesion</a>
            <a class="btn btn-success btn-block" href="/registro">Registro</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
